<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 /">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Content</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
</head>

<body>
    <div id="wrapper">
        <header>
            <div th:replace="fragments/header :: header"></div>
        </header>
        <nav>
            <div th:replace="fragments/menu :: menu"></div>
        </nav>
        <main>
            <div layout:fragment="content">
                <p>Content goes here...</p>
            </div>
        </main>

        <footer>
            <div th:replace="fragments/footer :: footer"></div>
        </footer>
    </div>

    <script src="/js/navigation.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>    
</body>

</html>