<!DOCTYPE html>
<html layout:decorate="~{layouts/content}">

<head>
  <meta charset="UTF-8" />
  <title>Reservations</title>
  <link rel="stylesheet" type="text/css" href="/css/reservation-list.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
</head>

<body>

  <div layout:fragment="content">

    <h1>List of reservations</h1>

    <div id="system-error" class="message">We are sorry, retrieving the list of reservations failed - please try again later.</div>
    </h2>
    <div id="action-error" class="message">We are sorry, we were unable to execute your action - please try again later.</div>
    </h2>

    <div id="reservation-list">
      <!-- the content will be placed here -->
    </div>

    <table id="reservation_table" class="display" cellspacing="0" width="100%">
      <caption>List of reservations</caption>
      <thead>
        <tr>
          <th>Reservation ID</th>
          <th>Facility ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Reserved by</th>
          <th>Action</th>
        </tr>
      </thead>
    </table>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="js/lib/handlebars-v3.0.0.js"></script>
    <script src="js/reservation-list.js"></script>



  </div>


</body>

</html>