<!DOCTYPE html>
<html layout:decorate="~{layouts/content}">

<head>
  <meta charset="UTF-8" />
  <title>Submit Reservation</title>
  <link rel="stylesheet" type="text/css" href="/css/reservation.css" />
</head>

<body>
  <div layout:fragment="content">
    <h1>Make a reservation</h1>
    <form id="reservationForm">
      <div class="input-group">
        <label>Facility ID:</label>
        <input name="resourceId" id="resourceId" type="text" />
      </div>

      <div class="input-group">
        <label>Start Date:</label>
        <input name="fromDate" id="fromDate" type="text" />
      </div>

      <div class="input-group">

        <label>End Date:</label>
        <input name="toDate" id="toDate" type="text" />
      </div>

      <div class="input-group">
        <label>Reserved By:</label>
        <input name="owner" id="owner" type="text" size="64" />
      </div>

      <button type="submit">Place Reservation</button>
    </form>

    <script src="/js/reservation.js"></script>

  </div>

</body>

</html>